html{
	height: 100%;
	overflow: hidden;
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	perspective: 1px;

}

h1{
	text-align: center;
	font-size: 90px;
	color: #5a3b2b;
}

#secao1 {
	background-image: url(imagens/369826.jpg);
	background-size: cover;
}

#secao2 {
	background-color: #7e665b;
	transform: translateZ(-1px) scale(2);
	z-index: -1;
}

.slide {
	position: relative;
	padding: 20% 10%;
	min-height: 100%;
	width: 100%;
	box-sizing: border-box;
	box-shadow: 0 -1px 10px rgba(0,0,0, .7);
	transform-style: inherit;
}

footer {
	position: fixed;
	width: 100%;
}

.social {
    display: inline-flex;
    margin-left: 500px;
}

.social li {
	margin-left: 20px;
}

nav a {
	background: #5a3b2b;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 10px;
	border: 80px #5a3b2b;
}







