html{
	height: 100%;
	overflow: hidden;
}

body{
	margin: 0;
	/*width: 80%;*/
	padding: 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	perspective: 1px;
	text-decoration: none;

}

h1 {
	text-align: center;
	font-size: 90px;
	color: #5a3b2b;
	text-shadow: 4px 4px 4px #FFF;
}


h2 {
	text-align: center;
	color: #5a3b2b;
	text-shadow: 4px 4px 4px #FFF;

}

/*section a {
	text-align: center;
	padding: 28px 355px;
	font-size: 40px;
}*/

#secao1 {
	background-image: url(imagens/369826.jpg);
	background-size: cover;
}

#secao2 {
	background-color: white;
	transform: translateZ(-1px) scale(2);
	z-index: -1;
}

.slide {
	position: relative;
	padding: 20% 10%;
	min-height: 100%;
	width: 100%;
	box-sizing: border-box;
	box-shadow: 0 -1px 10px rgba(0,0,0, .7);
	transform-style: inherit;
}

/*.conteiner{
    display: flex;
}
*/
/*.conteiner a {
	display: flex;

}*/

.conteiner div img{
    width: 130px;
    height: 130px;
    margin-top: 21px;
    margin-right: 10px;
}

.social {
    display: inline-flex;
    margin-left: 500px;
    text-decoration: none;
	text-transform: none;
	list-style-type: none;
}

.social li {
	margin-left: 100%;
}
/*
nav a {
	background: #5a3b2b;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 10px;
	border: 80px #5a3b2b;
}

*/

footer {
	position: fixed;
	width: 100%;
	margin-top: 200px;
	padding: black;
}




