html{
	height: 100%;
	overflow: hidden;
}

body{
	margin: 0;
	/*width: 80%;*/
	padding: 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	perspective: 1px;
	text-decoration: none;
	background-color: black;

}

a{
	color: black;
	decoration: none;
	text-decoration: none;
}

a:hover{
	color: black;
	decoration: none;
	text-decoration: none;
}

a:active{
	decoration: none;
	text-decoration: none;
}

h1 {
	text-align: center;
	font-size: 90px;
	color: #5a3b2b;
	text-shadow: 2px 2px 2px #FFF;
	font-family: 'Lobster', cursive;
}


h2 {
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px #FFF;
	font-family: 'Josefin Sans', sans-serif;

}

/*section a {
	text-align: center;
	padding: 28px 355px;
	font-size: 40px;
}*/

#secao1 {

	background-image: url(imagens/369826.jpg);
	background-size: cover;
	align-items: center;
}

#secao2 {
	background-color: white;
	transform: translateZ(-1px) scale(2);
	z-index: -1;
}

.slide {
	position: relative;
	padding: 20% 10%;
	min-height: 100%;
	width: 100%;
	box-sizing: border-box;
	box-shadow: 0 -1px 10px rgba(0,0,0, .7);
	transform-style: inherit;
}

/*.conteiner{
    display: flex;
}
*/
/*.conteiner a {
	display: flex;

}*/

.container div img{
    width: 250px;
    height: 200px;
    margin-top: 10px;
    margin-right: 10px;
}

.teste{
	text-align: center;
}

/*#botao-entrar{
	background-color: transparent;
	border: 1px solid black;

}*/

#teste{
	background: transparent;
}

#teste:hover{
	background: #ff9933;
}

.social {
    display: inline-flex;
    margin-left: 500px;
    text-decoration: none;
	text-transform: none;
	list-style-type: none;
}

.social li {
	margin-left: 100%;
}
/*
nav a {
	background: #5a3b2b;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 10px;
	border: 80px #5a3b2b;
}

*/

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	width: 100%;
	margin-bottom: auto;
	z-index: -1;
}

/*#Btn-inicio {
	margin-left: 323px;*/

}
.btn{
	padding: 12px 60px;
	background-color: transparent;
	border: 3px solid black;
}
.btn-warning{
	padding: 12px 60px;
	font-size: 16px;
}

.imagem:hover{
	transform: scale(1.1);
}

/*#rodape{
	margin: 10px;
	background-image: url("imagens/5126368-nuts.jpg")*/

}
#item1{
	margin-top: 15px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
}
#produtos {
	margin-right: 200px;
	font-family: 'Josefin Sans', sans-serif;
	color: black;
	font-size: 25px;
}
#precoprodutos{
	font-family: 'Chewy', cursive;
	font-size: 30px;
	color: #ff9933;
}
.prod1{
	text-align: center;
}
#GAMB{
	/*background-color: white;*/
	color: white;
	margin-left:
}
